package Fake;
use utf8;

1;

__DATA__

@@ index.html.ep
% layout 'default';
% title "Don't code. Sell.";
% stash('metas', {
%   keywords => 'eCommerce perl web framework extendable mojolicious',
%   description =>  'Rapid-Deployment, Multi-Website eCommerce System',
% });

<h3 id="powered-title">Powered By</h3>

<ul id="powered-by">
    <li><a class="s bootstrap" href="http://getbootstrap.com/"
        >Bootstrap</a></li>
    <li><a class="s css3"
        href="http://www.w3.org/Style/CSS/current-work.en.html"
        >CSS3</a></li>
    <li><a class="s html5" href="http://www.w3.org/TR/html5/">HTML5</a></li>
    <li><a class="s jquery" href="http://jquery.com/">jQuery</a></li>
    <li><a class="s pg" href="http://www.postgresql.org/"
        >PostgreSQL</a></li>
    <li><a class="s mojolicious" href="http://mojolicio.us/">Mojolicious</a></li>
    <li><a class="s perl" href="http://www.perl.org/">Perl 5</a></li>
</ul>

<hr>

<h3 class="text-center">Documentation</h3>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">For Developers</h4>
            </div>
            <div class="panel-body">
                <p>Learn to <em>develop</em> an XTaTIK-based website.</p>
                <p><a href="/docs/dev/" class="btn btn-primary">Read</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">For Your Staff</h4>
            </div>
            <div class="panel-body">
                <p>Learn to <em>use</em> an XTaTIK-based website.</p>
                <p><a href="/docs/staff/" class="btn btn-primary">Read</a></p>
            </div>
        </div>
    </div>
</div>

@@ layouts/default.html.ep
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %> - XTaTIK eCommerce System</title>
    <meta name="viewport" content="width=device-width, initial-scale=.3">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <meta name="keywords"
        content="<%= (stash('metas')||{})->{keywords} %>">
    <meta name="description"
        content="<%= (stash('metas')||{})->{description} %>">
    %= asset "xtatik.css"
    %= asset "app.css"
    <link rel="shortcut icon" href="/favicon.ico?v=1">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <h1><a href="https://github.com/XTaTIK/"
        ><img src="/content-pics/XTaTIK-logo-large.png" alt="XTaTIK"></a
    ></h1>

    <h2><a href="https://github.com/XTaTIK/">Rapid-Deployment,
        Multi-Website eCommerce System</a></h2>

    <div class="container">
        <%= content %>
    </div>

    <a href="https://github.com/XTaTIK/"
        class="s github">Fork me on GitHub</a>

    %= asset "app.js"
    %= asset "bootstrap.js"

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-15096709-5', 'auto');
      ga('send', 'pageview');
    </script>
</body>

@@ sitemap.xml.ep
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>http://xtatik.org/</loc>
        <changefreq>daily</changefreq>
        <priority>0.9</priority>
    </url>
</urlset>
